.load-more-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  &:hover {
    background-color: #2f8971;
  }
  &:active {
    background-color: #1c5546;
    transform: scale(0.98);
  }
}
