.search-above {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10pt;
  color: #555;
  .results-query {
    span {
      font-weight: bold;
    }
  }
  .filter {
    label {
      font-size: 0.75rem;
      color: #555;
      margin-right: 1rem;
    }
    select {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      background-color: #eee;
      color: #555;
      &:hover {
        background-color: #ddd;
      }
      &:active {
        background-color: #ccc;
        transform: scale(0.98);
      }
    }
  }
}

.search-results {
  max-width: 1200px;
  margin: 0 auto;
  .filter {
    label {
      font-size: 0.75rem;
      color: #555;
      margin-right: 1rem;
    }
    select {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      background-color: #eee;
      color: #555;
      &:hover {
        background-color: #ddd;
      }
      &:active {
        background-color: #ccc;
        transform: scale(0.98);
      }
    }
  }

  .card-container {
    display: grid;
    padding: 0 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 4rem;
    .no-data {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      font-size: 1.5rem;
      color: #555;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: #555;
  animation: blink 500ms infinite;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
